<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <title>QQ</title>
        <link rel="stylesheet" type="text/css" href="css/global.css"/>
        <link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css">
    </head>

    <body>
        <div class="main" id="chat">
            <div class="left">
                <div class="left-inform">
                    <div class="title">
                        <span class="radius close-win" @click="closeWin"></span>
                    </div>
                    <div class=user>
                        <img src="img/test.png"/>
                    </div>
                    <div class="menu">
                        <div class="menu-item" :class="{active:showchat}" @click="showChat">
                            <span class="menu-radius iconfont icon-chat">&#xe605;</span>
                            <p>消息</p>
                        </div>
                        <div class="menu-item" :class="{active:showgroup}" @click="showGroup">
                            <span class="menu-radius iconfont icon-chat">&#xe605;</span>
                            <p>好友</p>
                        </div>
                    </div>
                </div>
                <div class="left-list">
                    <div class="chat" v-if="!group">
                      <div class="search"><input v-model="searchfriendname" id="username" type="text"  placeholder="Search" @keyup.enter="KeyUpEnter"/></div>
                      <div class="user-list">
                        <ul >
                          <li class="item" v-for="item in chatlist">
                            <img src="./img/test.png" />
                            <div>
                              <strong>{{item.username}}</strong>
                              <span>{{item.endmessage}}</span>
                            </div>
                            <span class="drag" v-if="item.unread">{{item.unreadmessage}}</span>
                            <span class="close" @click="delUser(item)"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="group"  v-if="group">
                      <div class="group-tab">
                        <div v-bind:class="{active:isgroup}">好友列表</div>
                        <div v-bind:class="{active:!isgroup}" class="add-friend">+</div>
                      </div>
                      <div class="group-box">
                        <div class="group-list" v-if="!isgroup">
                          您暂时还没有添加任何好友
                        </div>
                        <div class="group-list" v-if="isgroup">
                            <ul>
                              <li class="item" v-for="items in allfriendlist">
                                <img src="./img/test.png" />
                                <div>
                                  <strong>{{items.username}}</strong>
                                  <span>{{items.introduction}}</span>
                                </div>
                              </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="right" v-show="!isChat">
                <div class="title">
                  <div class="userInform">
                    <strong>{{currentchat.username}}</strong>
                  </div>
                </div>
                <div class="content">
                    <div id="message" class="message" >
                        <div v-for="item in messageList" class="message-item">
                            <div :class="{'chat-bubble chat-bubble-right': item.self==true,'chat-bubble chat-bubble-left': item.self==false}">
                                {{item.content}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit">
                    <div class="bar" unselectable="on" onmousedown="return false">
                        <span class="font J-EditItem" unselectable="on" onmousedown="return false"></span>
                        <span class="face J-EditItem" unselectable="on" onmousedown="return false"></span>
                        <span class="shake J-EditItem" unselectable="on" onmousedown="return false"></span>
                        <span class="det J-EditItem" unselectable="on" onmousedown="return false"></span>
                        <span class="img J-EditItem" unselectable="on" onmousedown="return false"><input type="file" class="add-file" @change="handleFileChange" ref="inputer" /></span>
                        <span class="muc J-EditItem" unselectable="on" onmousedown="return false" @click="showChat">&#xe625;</span>
                        <span class="cut J-EditItem" unselectable="on" onmousedown="return false"></span>
                        <strong class="record fr">查看消息记录</strong>
                    </div>
                    <textarea id="textarea" class="textarea J-Edit" contenteditable="true" v-model="sendContent" @keyup.enter="KeyDownEnter"></textarea> 
                    <div id="bottom-button">
                        <button id="send-button" class="send-button" @click="sendMessage">发送</button>
                    </div>
                </div>
            </div>
            <div class="right" v-show="isChat">
                <div class="center-chatImg">
                  <div class="img">
                    <img src="img/test.png" />
                  </div>
                  <p>开始聊天吧!</p>
                </div>
              </div>     
            </div>
    </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="./js/chat.js"></script>
<script src="./js/index.js"></script>
</html>